<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjgoodwill.insurance.record.dao.DischargelRecordDao" >
	<resultMap id="BaseResultMap" type="com.bjgoodwill.insurance.record.model.DischargelRecordModel" >
		<result column="medicalNum" property="medicalNum" jdbcType="VARCHAR" />
		<result column="hospitalRecordId" property="hospitalRecordId" jdbcType="VARCHAR" />
		<result column="attendingPhysician" property="attendingPhysician" jdbcType="VARCHAR" />
		<result column="diagnosisTreatment" property="diagnosisTreatment" jdbcType="VARCHAR" />
		<result column="mainTestResults" property="mainTestResults" jdbcType="VARCHAR" />
		<result column="inhosCondition" property="inhosCondition" jdbcType="VARCHAR" />
		<result column="medicalAbstract" property="medicalAbstract" jdbcType="VARCHAR" />
		<result column="outhosCondition" property="outhosCondition" jdbcType="VARCHAR" />
		<result column="dischargeStatus" property="dischargeStatus" jdbcType="VARCHAR" />
		<result column="medicationRecommendations" property="medicationRecommendations" jdbcType="VARCHAR" />
		<result column="juniorCollege" property="juniorCollege" jdbcType="VARCHAR" />
		<result column="auxiliaryExamination" property="auxiliaryExamination" jdbcType="VARCHAR" />
		<result column="clinicalPath" property="clinicalPath" jdbcType="VARCHAR" />
		<result column="treatmentOutcome" property="treatmentOutcome" jdbcType="VARCHAR" />
		<result column="totalRecordInfo" property="totalRecordInfo" jdbcType="VARCHAR" />
		<result column="" property="" jdbcType="VARCHAR" />
		<result column="" property="" jdbcType="VARCHAR" />
		<result column="" property="" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
    	medicalNum,hospitalRecordId,attendingPhysician,diagnosisTreatment,mainTestResults,inhosCondition,medicalAbstract,outhosCondition,dischargeStatus,medicationRecommendations,juniorCollege,auxiliaryExamination,clinicalPath,treatmentOutcome,totalRecordInfo
    </sql>
     <select id="getRecDisByMedicalNum" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from hos_data.record_discharge
        where medicalNum = #{medicalNum,jdbcType=VARCHAR}
    </select>
    <select id="getRecDisBymedicalNumToView" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from hos_data.view_record_dischargel
        where medicalNum = #{medicalNum,jdbcType=VARCHAR}
    </select>
</mapper>