<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjgoodwill.insurance.lis.dao.LisDetailInfoDao" >
	<resultMap id="BaseResultMap" type="com.bjgoodwill.insurance.lis.model.LisDetailInfoModel" >
        <id column="patientId" property="patientId" jdbcType="VARCHAR" />
        <result column="labNum" property="labNum" jdbcType="VARCHAR" />
		<result column="itemNo" property="itemNo" jdbcType="VARCHAR" />
		<result column="itemName" property="itemName" jdbcType="VARCHAR" />
		<result column="englishAbbreviation" property="englishAbbreviation" jdbcType="VARCHAR" />
		<result column="labResult" property="labResult" jdbcType="VARCHAR" />
		<result column="pnFlag" property="pnFlag" jdbcType="VARCHAR" />
		<result column="reference" property="reference" jdbcType="VARCHAR" />
		<result column="unit" property="unit" jdbcType="VARCHAR" />
		<result column="method1" property="method1" jdbcType="VARCHAR" />
		<result column="method2" property="method2" jdbcType="VARCHAR" />
		<result column="plasmaConcentration1" property="plasmaConcentration1" jdbcType="VARCHAR" />
		<result column="plasmaConcentration2" property="plasmaConcentration2" jdbcType="VARCHAR" />
		<result column="urineConcentration1" property="urineConcentration1" jdbcType="VARCHAR" />
		<result column="urineConcentration2" property="urineConcentration2" jdbcType="VARCHAR" />
		<result column="drugAllergyCode" property="drugAllergyCode" jdbcType="VARCHAR" />
		<result column="sensitivity" property="sensitivity" jdbcType="VARCHAR" />
		<result column="bacteriostatDiameter" property="bacteriostatDiameter" jdbcType="VARCHAR" />
		<result column="microorganismName" property="microorganismName" jdbcType="VARCHAR" />
		<result column="cultureResult" property="cultureResult" jdbcType="VARCHAR" />
		<result column="antibioticName" property="antibioticName" jdbcType="VARCHAR" />
		<result column="antibioticQualitativeResult" property="antibioticQualitativeResult" jdbcType="VARCHAR" />
		<result column="antibioticQuantitativeResult" property="antibioticQuantitativeResult" jdbcType="VARCHAR" />
		<result column="additionVal" property="additionVal" jdbcType="VARCHAR" />
		<result column="numVal" property="numVal" jdbcType="VARCHAR" />
		<result column="txtVal" property="txtVal" jdbcType="VARCHAR" />
		<result column="insertFlag" property="insertFlag" jdbcType="VARCHAR" />
    </resultMap>
    
    <resultMap id="SimpleResultMap" type="com.bjgoodwill.insurance.lis.model.LisDetailInfoModel" >
        <id column="patientId" property="patientId" jdbcType="VARCHAR" />
        <result column="labNum" property="labNum" jdbcType="VARCHAR" />
		<result column="itemNo" property="itemNo" jdbcType="VARCHAR" />
		<result column="itemName" property="itemName" jdbcType="VARCHAR" />
		<result column="englishAbbreviation" property="englishAbbreviation" jdbcType="VARCHAR" />
		<result column="labResult" property="labResult" jdbcType="VARCHAR" />
		<result column="pnFlag" property="pnFlag" jdbcType="VARCHAR" />
		<result column="reference" property="reference" jdbcType="VARCHAR" />
		<result column="unit" property="unit" jdbcType="VARCHAR" />
		<result column="method1" property="method1" jdbcType="VARCHAR" />
		<result column="method2" property="method2" jdbcType="VARCHAR" />
		<result column="plasmaConcentration1" property="plasmaConcentration1" jdbcType="VARCHAR" />
		<result column="plasmaConcentration2" property="plasmaConcentration2" jdbcType="VARCHAR" />
		<result column="urineConcentration1" property="urineConcentration1" jdbcType="VARCHAR" />
		<result column="urineConcentration2" property="urineConcentration2" jdbcType="VARCHAR" />
		<result column="drugAllergyCode" property="drugAllergyCode" jdbcType="VARCHAR" />
		<result column="sensitivity" property="sensitivity" jdbcType="VARCHAR" />
		<result column="bacteriostatDiameter" property="bacteriostatDiameter" jdbcType="VARCHAR" />
		<result column="microorganismName" property="microorganismName" jdbcType="VARCHAR" />
		<result column="cultureResult" property="cultureResult" jdbcType="VARCHAR" />
		<result column="antibioticName" property="antibioticName" jdbcType="VARCHAR" />
		<result column="antibioticQualitativeResult" property="antibioticQualitativeResult" jdbcType="VARCHAR" />
		<result column="antibioticQuantitativeResult" property="antibioticQuantitativeResult" jdbcType="VARCHAR" />
		<result column="additionVal" property="additionVal" jdbcType="VARCHAR" />
		<result column="numVal" property="numVal" jdbcType="VARCHAR" />
		<result column="txtVal" property="txtVal" jdbcType="VARCHAR" />
		<result column="insertFlag" property="insertFlag" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        t1.labNum, itemNo, itemName, englishAbbreviation, labResult, pnFlag, reference, unit,method1, method2, plasmaConcentration1, plasmaConcentration2,urineConcentration1,urineConcentration2,drugAllergyCode,sensitivity,bacteriostatDiameter,microorganismName,cultureResult,antibioticName,antibioticQualitativeResult,antibioticQuantitativeResult,additionVal,numVal,txtVal,insertFlag
    </sql>
    <select id="getLisDetailInfoByPatientIdToView" resultMap="SimpleResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from view_lis_detail_info t1,view_lis_pacs_center t2
        where t1.labNum = t2.labNum
        and t2.patientId = #{id,jdbcType=VARCHAR}
    </select>
    
</mapper>